In [249]:
from os import listdir
import pandas as pd
import re

def convert_int(string):
    if ',' in string:
        return float(string.replace(',', ''))
    else:
        return float(re.search('\d+.\d+', string).group())

In [145]:
act = pd.read_excel('ACT_data.xls')
act.head()

        State  Composite score
0     Alabama             18.9
1      Alaska             20.1
2     Arizona             19.0
3    Arkansas             19.3
4  California             22.6

# Social Factors

In [113]:
path = './state_social'

In [177]:
married_dict = {}
divorce_dict = {}
bachelors_higher_dict = {}
foreign_born_dict = {}
abroad_dict = {}
diff_house_dict = {}
other_dict = {}

for file in listdir(path):
    if '~$' in file:
        continue
    elif '.xlsx' in file:
        df = pd.read_excel(path + '/' + file)
        # state
        state = df['Unnamed: 1'][2]
        # marriage status
        married = convert_int(df['Unnamed: 3'][14])
        divorce = convert_int(df['Unnamed: 3'][17])
        # educational attainment
        bachelors_higher = convert_int(df['Unnamed: 3'][49])
        # birthplace
        foreign_born = convert_int(df['Unnamed: 3'][81])
        # residence 1 year ago
        abroad = convert_int(df['Unnamed: 3'][73])
        diff_house = convert_int(df['Unnamed: 3'][68])
        # language
        other = convert_int(df['Unnamed: 3'][107])
        
        married_dict[state] = married
        divorce_dict[state] = divorce
        bachelors_higher_dict[state] = bachelors_higher
        foreign_born_dict[state] = foreign_born
        abroad_dict[state] = abroad
        diff_house_dict[state] = diff_house
        other_dict[state] = other

act['married'] = act['State'].map(lambda x:married_dict[x])
act['divorced'] = act['State'].map(lambda x:divorce_dict[x])
act['bachelors_higher'] = act['State'].map(lambda x:bachelors_higher_dict[x])
act['foreign_born'] = act['State'].map(lambda x:foreign_born_dict[x])
act['prev_abroad'] = act['State'].map(lambda x:abroad_dict[x])
act['diff_house'] = act['State'].map(lambda x:diff_house_dict[x])
act['other_language'] = act['State'].map(lambda x:other_dict[x])

In [179]:
act.head()

,State,Composite score,married,divorced,bachelors_higher,foreign_born,prev_abroad,diff_house,other_language
0,Alabama,18.9,88.3,5.5,32.0,6.8,0.2,11.4,7.6
1,Alaska,20.1,85.3,6.4,31.5,11.1,0.5,13.4,19.7
2,Arizona,19.0,86.0,5.7,31.2,26.5,0.4,13.8,37.9
3,Arkansas,19.3,88.1,6.0,28.3,10.5,0.2,12.9,11.2
4,California,22.6,88.6,3.9,34.5,45.1,0.6,9.4,54.6

# Economic Factors

In [242]:
path = './state_econ'

In [266]:
public_transport_dict = {}
drove_alone_dict = {}
carpooled_dict = {}
mean_travel_dict = {}
agri_dict = {}
construction_dict = {}
finance_dict = {}
median_wage_dict = {}
median_wage_female_dict = {}
median_wage_male_dict = {}
below_poverty_dict = {}
edu_health_dict = {}

for file in listdir(path):
    if '~$' in file:
        continue
    elif '.xlsx' in file:
        df = pd.read_excel(path + '/' + file)
        # state
        state = df['Unnamed: 1'][2]
        # transportation methods
        public_transport = convert_int(df['Unnamed: 3'][25])
        drove_alone = convert_int(df['Unnamed: 3'][23])
        carpooled = convert_int(df['Unnamed: 3'][24])
        mean_travel = convert_int(df['Unnamed: 1'][30])
        # occupation
        agri = convert_int(df['Unnamed: 3'][40])
        construction = convert_int(df['Unnamed: 3'][41])
        finance = convert_int(df['Unnamed: 3'][47])
        edu_health = convert_int(df['Unnamed: 3'][49])
        # class of worker
        private_wage = convert_int(df['Unnamed: 3'][55])
        # wages
        median_wage = convert_int(df['Unnamed: 1'][60])
        median_wage_male = convert_int(df['Unnamed: 1'][61])
        median_wage_female = convert_int(df['Unnamed: 1'][62])
        # poverty level
        below_poverty = convert_int(df['Unnamed: 3'][88])
        
        public_transport_dict[state] = public_transport
        drove_alone_dict[state] = drove_alone
        carpooled_dict[state] = carpooled
        mean_travel_dict[state] = mean_travel
        agri_dict[state] = agri
        construction_dict[state] = construction
        finance_dict[state] = finance
        median_wage_dict[state] = median_wage
        median_wage_female_dict[state] = median_wage_female
        median_wage_male_dict[state] = median_wage_male
        below_poverty_dict[state] = below_poverty
        edu_health_dict[state] = edu_health
        
act['public_transport'] = act['State'].map(lambda x:public_transport_dict[x])
act['drove_alone'] = act['State'].map(lambda x:drove_alone_dict[x])
act['carpooled'] = act['State'].map(lambda x:carpooled_dict[x])
act['mean_travel'] = act['State'].map(lambda x:mean_travel_dict[x])
act['agricultural'] = act['State'].map(lambda x:agri_dict[x])
act['constrution'] = act['State'].map(lambda x:construction_dict[x])
act['finance'] = act['State'].map(lambda x:finance_dict[x])
act['education_healthcare'] = act['State'].map(lambda x:edu_health_dict[x])
act['median_wage'] = act['State'].map(lambda x:median_wage_dict[x])
act['median_wage_male'] = act['State'].map(lambda x:median_wage_male_dict[x])
act['median_wage_female'] = act['State'].map(lambda x:median_wage_female_dict[x])
act['below_poverty'] = act['State'].map(lambda x:below_poverty_dict[x])

In [269]:
act = act.set_index('State')

In [272]:
act.head()

,Composite score,married,divorced,bachelors_higher,foreign_born,prev_abroad,diff_house,other_language,public_transport,drove_alone,carpooled,mean_travel,agricultural,constrution,finance,median_wage,median_wage_male,median_wage_female,below_poverty,education_healthcare
State,,,,,,,,,,,,,,,,,,,,
Alabama,18.9,88.3,5.5,32.0,6.8,0.2,11.4,7.6,0.2,85.7,9.3,25.6,1.4,6.7,6.3,40743.0,58806.0,38412.0,14.6,26.4
Alaska,20.1,85.3,6.4,31.5,11.1,0.5,13.4,19.7,0.8,69.6,14.5,20.5,4.3,6.6,4.0,51747.0,73096.0,53362.0,8.5,28.8
Arizona,19.0,86.0,5.7,31.2,26.5,0.4,13.8,37.9,1.1,76.8,12.8,27.3,1.6,8.3,8.7,41302.0,57405.0,41654.0,13.9,23.9
Arkansas,19.3,88.1,6.0,28.3,10.5,0.2,12.9,11.2,0.2,82.9,11.8,22.3,2.7,7.3,4.7,37401.0,50839.0,36515.0,14.7,27.4
California,22.6,88.6,3.9,34.5,45.1,0.6,9.4,54.6,3.3,76.2,11.4,30.8,2.9,7.8,6.2,46095.0,65444.0,49752.0,12.1,22.3

In [271]:
act.to_csv('act_merged.csv')